[submodule "deps/metaplex-program-library"]
	path = deps/metaplex-program-library
	url = https://github.com/metaplex-foundation/metaplex-program-library.git
[submodule "deps/solana-program-library"]
	path = deps/solana-program-library
	url = https://github.com/solana-labs/solana-program-library.git
[submodule "deps/cardinal-namespaces"]
	path = deps/cardinal-namespaces
	url = https://github.com/cardinal-labs/cardinal-namespaces.git
[submodule "deps/cardinal-token-manager"]
	path = deps/cardinal-token-manager
	url = https://github.com/cardinal-labs/cardinal-token-manager.git
