.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.runButton {
  height: 35px;
}

.buttonIcon {
  margin-top:-1px;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}